h1 {
  color: red;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 900px;
}

.week-icon {
  width: 40px;
  height: 40px;
}

.align-bottom-parent {
  position: relative;
}

.align-bottom-child {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.align-bottom-text {
  position: relative;
  top: 150px;
}
#selected-city {
  text-transform: capitalize;
}
